<template name="space_accounts_ui_admin_view">

<div class="space-accounts admin-view ui one column grid">

  <div class="ui segments">

    <div class="ui segment">

      <h2 class="ui header">Create New Account</h2>

      <div class="create-new">
        <div class="ui four column grid">
          <div class="column">
            <div class="ui fluid input">
              <input class="username" type="text" placeholder="Username" />
            </div>
          </div>
          <div class="column">
            <div class="ui fluid input">
              <input class="email" type="text" placeholder="Email Address" />
            </div>
          </div>
          <div class="column">
            <div class="ui fluid input">
              <input class="password" type="password" placeholder="Password" />
            </div>
          </div>
          <div class="submit column">
            <button class="ui fluid button submit positive">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="ui segment">

      <h2 class="ui header">Existing Accounts</h2>

      <div class="existing ui column">
        <table class="accounts ui celled striped table">
          <thead>
            <tr>
              <th class="username">Username</th>
              <th class="email">Email</th>
            </tr>
          </thead>
          <tbody>
            {{#each accounts}}
            <tr>
              <td class="username">{{username}}</td>
              <td class="email">{{emails.[0].address}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</template>
