<template name="space_accounts_ui_login_view">

<div class="space-accounts login-view ui one column vertically padded grid">

  <div class="ui segment">

    <h1 class="ui header">Login</h1>

    <div class="ui input">
      <input class="user" type="text" placeholder="Username or Email" />
    </div>
    <div class="ui input">
      <input class="password" type="password" placeholder="Password" />
    </div>
    <button class="ui button positive submit">Login</button>
    {{#if loginError}}
    <div class="ui negative message">
      <h2 class="header">Login failed:</h2>
      <p class="">{{loginError.reason}}</p>
    </div>
    {{/if}}
  </div>
</div>

</template>
